<div id="d02">
    <p> Medications </p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let medication of medications;" (click)="RowSelected(medication);">
                        <td>{{medication.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>

<div id="d03">
    <div id="d03a">
        <p id="p02"> Name </p>
        <p id="p03"> Side effects </p>
        <p id="p04"> Dosage </p>
        <button id="b02" (click)="insertNewmedication()">Add new medication</button>

    </div>

    <div id="d03b">
        <input id="in02" type="text" [formControl]="medicationName">
        <input id="in03" type="text" [formControl]="medicationSideEffects">
        <input id="in04" type="text" [formControl]="medicationDosage">
        <button id="b01" (click)="updateMedication()">Update medication</button>
        <button id="b01" (click)="deleteMedication()">Delete medication</button>
    </div>

</div>