<div id="d02">
    <p>Patients </p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let patient of patients;" (click)="rowSelected(patient);">
                        <td>{{patient.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <p>Associated medical plan</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="this.associatedPlan != null" (click)="associatedRowSelected();">
                        <td>{{associatedPlan.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>



<div id="d03">
    
    <div id="d03a">
        <p id="p02"> Name </p>
        <p id="p01"> Password </p>
        <p id="p03"> Birthdate </p>
        <p id="p04"> Gender </p>
        <p id="p05"> Address </p>
        <p id="p05"> Medical record </p>
        <button id="b02" (click)="insertNewPatient()">Add new patient</button>

    </div>

    <div id="d03b">
        <input id="in02" type="text" [formControl]="patientName">
        <input id="in01" type="text" [formControl]="patientPassword">
        <input id="in03" type="text" [formControl]="patientBirthDate">
        <input id="in04" type="text" [formControl]="patientGender">
        <input id="in05" type="text" [formControl]="patientAddress">
        <input id="in06" type="text" [formControl]="patientMedicalRecord">
        <button id="b01" (click)="updatePatient()">Update patient</button>
        <button id="b01" (click)="deletePatient()">Delete patient</button>
    </div>



</div>

<div id="d02">
    <p> Available plans <p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let plan of plans;" (click)="planRowSelected(plan);">
                        <td>{{plan.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>