<div id="d02">
    <p>Caregivers</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let caregiver of caregivers;" (click)="RowSelected(caregiver);">
                        <td>{{caregiver.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <p>Associated patients</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let associatedPatient of associatedPatients" (click)="associatedRowSelected(associatedPatient);">
                        <td>{{associatedPatient.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>



<div id="d03">
    
    <div id="d03a">
        <p id="p02"> Name </p>
        <p id="p01"> Password </p>
        <p id="p03"> Birthdate </p>
        <p id="p04"> Gender </p>
        <p id="p05"> Address </p>
        <button id="b02" (click)="insertNewCaregiver()">Add new caregiver</button>

    </div>

    <div id="d03b">
        <input id="in02" type="text" [formControl]="caregiverName">
        <input id="in01" type="text" [formControl]="caregiverPassword">
        <input id="in03" type="text" [formControl]="caregiverBirthDate">
        <input id="in04" type="text" [formControl]="caregiverGender">
        <input id="in05" type="text" [formControl]="caregiverAddress">
        <button id="b01" (click)="updateCaregiver()">Update caregiver</button>
        <button id="b01" (click)="deleteCaregiver()">Delete caregiver</button>
    </div>



</div>

<div id="d02">
    <p> Available patients <p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let patient of patients;" (click)="patientRowSelected(patient);">
                        <td>{{patient.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>