#d01{
  text-align: center;
}

p{
  font-size: 21px;
  font-weight: bold;
}

button:hover {background-color: #fc680562}
button{
  outline:none;
  padding: 5px;
  border-radius: 10px;
  margin-left: 6px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}