<div id="dmain">

    <div id="d01">
        <p> You're logged in as a doctor !</p>
    </div>

    <div> 
        <button (click)="setDisplayCase(1)">Patient Administration</button>
        <button (click)="setDisplayCase(2)">Caregiver Administration</button>
        <button (click)="setDisplayCase(3)">Medication Administration</button>
        <button (click)="setDisplayCase(4)">Plan Administration</button>
    </div>

    <div [ngSwitch]="displayCase">
        <app-patient-administration *ngSwitchCase="1"></app-patient-administration>
        <app-caregiver-administration *ngSwitchCase="2"></app-caregiver-administration>
        <app-medication-administration *ngSwitchCase="3"></app-medication-administration>
        <app-plan-administration *ngSwitchCase="4"></app-plan-administration>
        <div *ngSwitchDefault> <p>Select one of the administrations from above </p></div>
    </div>




</div>