

<div id="d02">
    <p>Warnings</p>
    <input id="ina1" type="text" [formControl]="messageForm">

    <p>Associated patients</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let associatedPatient of this.associatedPatients" (click)="associatedRowSelected(associatedPatient);">
                        <td>{{associatedPatient.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

    <p>Associated plan for selected patient</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                        <th class="text">Intervals</th>
                        <th class="text">Duration</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let associatedPlan of this.associatedPlans" >
                        <td>{{associatedPlan.name}}</td>
                        <td>{{associatedPlan.intervals}}</td>
                        <td>{{associatedPlan.duration}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <p>Associated medications for selected plan</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                        <th class="text">Side effects</th>
                        <th class="text">Dosage</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let associatedMedication of this.associatedMedications" >
                        <td>{{associatedMedication.name}}</td>
                        <td>{{associatedMedication.sideEffects}}</td>
                        <td>{{associatedMedication.dosage}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>


</div>