<div id="d02">

    <div>
        <p>Current time</p>
        {{ time | date: 'HH:mm:ss' }}
    </div>

    <p>Account details</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                        <th class="text">Password</th>
                        <th class="text">Birthdate</th>
                        <th class="text">Gender</th>
                        <th class="text">Address</th>
                        <th class="text">Medical record</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{this.foundPatient.name}}</td>
                        <td>{{this.foundPatient.password}}</td>
                        <td>{{this.foundPatient.birthDate}}</td>
                        <td>{{this.foundPatient.gender}}</td>
                        <td>{{this.foundPatient.address}}</td>
                        <td>{{this.foundPatient.medicalRecord}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>


    <p>Medical plan</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                        <th class="text">Intervals</th>
                        <th class="text">Duration</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{this.foundPatient.medicationPlan.name}}</td>
                        <td>{{this.foundPatient.medicationPlan.intervals}}</td>
                        <td>{{this.foundPatient.medicationPlan.duration}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>


    <p>Medications to take : </p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                        <th class="text">Side effects</th>
                        <th class="text">Dosage</th>
                        <th class="text">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let associatedMedication of this.planToDisplay.medications">
                        <td>{{associatedMedication.name}}</td>
                        <td>{{associatedMedication.sideEffects}}</td>
                        <td>{{associatedMedication.dosage}}</td>
                        <button id="b01" (click)="setMedicationStatus(associatedMedication)">Taken</button>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>