<div id="d02">
    <p>Medication plans</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let plan of plans;" (click)="rowSelected(plan);">
                        <td>{{plan.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <p>Associated medications</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let associatedMedication of associatedMedications" (click)="associatedRowSelected(associatedMedication);">
                        <td>{{associatedMedication.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>
</div>



<div id="d03">
    
    <div id="d03a">
        <p id="p02"> Name </p>
        <p id="p03"> Intervals </p>
        <p id="p04"> Period of treatment </p>
        <button id="b02" (click)="insertNewPlan()">Create new plan</button>

    </div>

    <div id="d03b">
        <input id="in02" type="text" [formControl]="planName">
        <input id="in03" type="text" [formControl]="planIntervals">
        <input id="in04" type="text" [formControl]="planDuration">
        <button id="b01" (click)="updatePlan()">Update plan</button>
        <button id="b01" (click)="deletePlan()">Delete plan</button>
    </div>



</div>

<div id="d02">
    <p>Available medications </p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table>
                <thead>
                    <tr>
                        <th class="text">Name</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let medication of medications;" (click)="medicationRowSelected(medication);">
                        <td>{{medication.name}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>