<div>
    <p>Username</p>
    <input type="text" [formControl]='uName' spellcheck="false">
    <p>Password</p>
    <input type="password" [formControl]='uPass' spellcheck="false">
    <br><br><br>
    <button (click)="checkUserInput()" >Sign in  </button>
</div>