div {
    text-align: center;
    padding: 1px;
  
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
  }
  
  p {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    border-color: black;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }
  
  button {
    outline: none;
    border-radius: 10px;
    border-color: black;
    padding: 5px 25px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  button:hover {
    background-color: crimson;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  