body {
    margin : 0;
       background-image: url('https://images.unsplash.com/photo-1585435557343-3b092031a831?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    
      height: 100%; 
      background-position:fixed; 
      background-repeat: no-repeat;
      background-size: cover;
    }
    